 <div><p><h4>Cadastrar - agendamento de potenciais Clientes</h4></p></div>

  <div><p><h5>Sistema Utlizado para agendamento  de serviços</h5></p></div>

  <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nome:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="nome" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Telefone:</label>
    <input type="tel" class="form-control" id="exampleInputPassword1">
  </div>

 <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Origem:</label>
    <input type="cel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="cel" class="form-text"></div>
  </div>

   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Data de contato</label>
    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="date" class="form-text"></div>
  </div>

<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Observação: </label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form></div>  
